.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    opacity: 0;
    transform: all 0.3s ease-in-out;
    pointer-events: none;
}

.modal.show {
    opacity: 1;
    pointer-events: visible;
}

.modal-content {
    width: 500px;
    background-color: #fff;
    border-radius: 8px solid ;
    transform: translateY(-200px);
    transition: all 0.3s ease-in-out;
}

.modal.show .modal-content {
    transform: translateY(0);
}

.modal-header, 
.modal-footer {
    padding: 10px;
}

.modal-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.btn-close-modal-container {
    display: flex;
    justify-content: end;
}

.modal-footer {
    border: none;
    margin-top: 10px;
}

.modal-body {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.field-names {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 20%;
    margin-left: 10px;
}

.field-names p {
    display: flex;
    justify-content: left;
    font-weight: 600;
}

.field-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.field-data p {
    display: flex;
    justify-content: left;
}

.profile-photo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-photo {
    width: 75px;
    height: 75px;
    overflow: hidden; 
    object-fit: cover;
    vertical-align: middle;
    border-radius: 50%;
}

.profile-name {
    font-weight: 700;
    font-size: 18px;
}

.profile-position {
    color: grey;
    font-size: 16px;
}

.btn-send-msg {
    width: 95%;
    margin: 0 10px 10px 10px;
    font-size: 14px;
    border-radius: 8px;
    height: 40px;
    background-color: #4E46DD;
    color: #fff;
    font-weight: 600;
}

.btn-send-msg:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid gray;
}

.btn-close-modal {
    font-size: 18px;
    display: flex;
    border: 1px solid #fff;
    background-color: #fff;
}

.btn-close-modal:hover {
    font-weight: 700;
}